### Introdução ao Pandas II

In [2]:
# Importando biblioteca
import pandas as pd

In [4]:
# Mapeando o caminho e nome do documento

path = 'C:\\Users\\FIC\\Documents\\Fabiana Python\\003 - Arquivos\\'
file = 'bank-full.xlsx'

# Abrindo o documento e atribuindo a um dataframe
df = pd.read_excel(path + file, sheet_name= 'Sheet 1 - bank-full')

# Visualizando o cabeçalho do dataframe
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

### Média (Mean)

In [6]:
df['balance'].mean()

1362.2720576850766

In [7]:
#função round trata valores, ajustando o numero de casas decimais
#round(valor,num decimanis)

media = df['balance'].mean()
round(media,2)

1362.27

### Calculando a média de mais de uma coluna

In [8]:
# Para selcionar mais de uma coluna, você deve passar uma lista contendo os nomes das colunas do dataframe-- > exemplo: [[lista]]
df[['balance','duration']].mean()

balance     1362.272058
duration     258.163080
dtype: float64

### Soma (sum)
quando precisamos saber a soma dos valores de uma determinada variavel, podemos usar a função pd.sum()

In [9]:
df.balance.sum()

61589682

In [10]:
df.duration.sum()

11671811

In [11]:
# É a soma de uma lista de variaveis (colunas)
df[['pdays','duration','balance']].sum()

pdays        1817384
duration    11671811
balance     61589682
dtype: int64

### Unique e Nunique

unique - nos mostra todos os valores únicos de uma coluna

nunique - nos mostra a quantidade de elementos únicos em uma coluna

In [12]:
# Comando unique
df.job.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [13]:
# Comando nunique
df.job.nunique()

12

### Dados duplicados 

A quantidade de elementos duplicados em uma coluna

In [15]:
df.job.duplicated().sum()

45199

A quantidade de elementos duplicados em uma tabela

In [16]:
df.duplicated().sum()

0

### Identificar os valores duplicados

In [ ]:
#df.loc[df.duplicated()==True]